

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}



body {
    font-size: 20px;
}

img {
    width: 100%;
}

/* -----------comienzo del header y el nav -----------*/

header {
    background-color: #96d201;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cont_logoYmenu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.cont_logoYmenu a{
    width: 150px;
}

.menu {
    width: 50px;
    height: 50px;
    background-color: rgb(41, 39, 39);
}


/*------nav------*/

nav {
    font-size: 25px;
}

.nav_uno {  /*nav ---- menu del nav */ 
    display: none;
 }

.nav_dos {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    background-color: #c4f252;
}

a{
    margin: 3px 0px;  /* en vez de margin poner borde arriba y abajo */
    background-color: #c4f252;
    
}

.inicio {

    color: #c4f252;

}



/* menu y animacion */
.menus{

color: #79aa00;

}



button{
margin: 1px;    
position: relative;
padding: 1.1rem;
border: none;
outline: none;
background-color: #c4f252;
border-radius: 00.375rem;
color: #79aa00;
cursor: pointer;
transition: .5s;
overflow: hidden;
font-size: 20px;
}

button:hover{
    color: #79aa00;
}
button span{
    position: absolute;
    background:#79aa00;
    transition: .5s;
}

button span:nth-child(1) {
    width: 100%;
    height: 4px;
    top: 0;
    left: -100%;

}

button span:nth-child(2) {
    width: 100%;
    height: 4px;
    bottom: 0;
    right: -100%;
}

button span:nth-child(3) {
    width: 4px;
    height: 100%;
    bottom: -100%;
    left: 0;
}

button span:nth-child(4) {
    width: 4px;
    height: 100%;
    top: -100%;
    right: 0;
}

button:hover span:nth-child(1) {
    left: 0;
}

button:hover span:nth-child(2) {
    right: 0;
}

button:hover span:nth-child(3) {
    bottom: 0;
}

button:hover span:nth-child(4) {
    top: 0;
}

.button1, .button1 a{
    background-color: #79aa00;
}

.button1:hover{
    color: #5D8300;
}
.button1 span{
    position: absolute;
    background:#5D8300;
    transition: .5s;
}

/*aqui comienza el main*/



.contenido1 {
    width: 100%;
    margin-top: 10px;
}

.contenido1_item1{
    text-align: center;
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    padding: 5px 5px;
}

.contenido1 p ~ div{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 3px solid #c4f252;
}

.contenido1_item2 {
    margin: 0px auto ;
    margin-top: 15px;
    width: 90%;
}

.contenido1_item2 img {
    margin: 5px 0px;
    background-color: red;
    width: 100%;
    border: 1px solid black;

}






