  /*computadores de escritorio*/


nav, .cont_logoYmenu, .contenido1, footer {
max-width: 1350px;
margin: 0 auto;
}

button{
margin: 1px;    
position: relative;
padding: 1.1rem;
border: none;
outline: none;
background-color: #c4f252;
border-radius: 00.375rem;
color: #79aa00;
cursor: pointer;
transition: .5s;
overflow: hidden;
font-size: 20px;
}

button:hover{
color: #79aa00;
}

button span{
position: absolute;
background:#79aa00;
transition: .5s;
}

button span:nth-child(1) {
width: 100%;
height: 4px;
top: 0;
left: -100%;
}

button span:nth-child(2) {
width: 100%;
height: 4px;
bottom: 0;
right: -100%;
}

button span:nth-child(3) {
width: 4px;
height: 100%;
bottom: -100%;
left: 0;
}

button span:nth-child(4) {
width: 4px;
height: 100%;
top: -100%;
right: 0;
}

button:hover span:nth-child(1) {
left: 0;
}

button:hover span:nth-child(2) {
right: 0;
}

button:hover span:nth-child(3) {
bottom: 0;
}

button:hover span:nth-child(4) {
top: 0;
}

.button1, .button1 a{
background-color: #79aa00;
}

.button1:hover{
color: #5D8300;
}

.button1 span{
position: absolute;
background:#5D8300;
transition: .5s;
}

p{
  text-align: center;
}

/*Aqui comienza el main*/

.contenedor {
  display: flex;
  
}
